# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# React Native / Metro
.metro-health-check*
.metro-cache/
react-native-packager-cache-*

# logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# cache
.cache/
.tmp/
temp/

# environment
.env
.env.*
!.env.example

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.vscode/
.idea/

# typescript
*.tsbuildinfo

# build outputs
build/
coverage/

# Native generated (quando usa Expo prebuild)
android/
ios/

# android
*.keystore
*.jks
local.properties

# ios
*.xcuserstate
*.xcworkspace
DerivedData/
build/

# misc
*.orig.*
*.pem
*.p8
*.p12
*.key
*.mobileprovision